# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr

oslo.config
oslo.messaging
oslo.serialization
oslo.versionedobjects
requests
sqlalchemy
synergy-service>=1.5,<1.7
